@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --primary: #333333;
  --secondary: #a0aec0;
  --accent: #718096;
  --background: #fff;
  --main: #0d0106;
  --header: #2d3748;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
}
@layer base {
  html {
    font-family: Abel, system-ui, sans-serif; /* change the default font */
  }
}